Jack.materials/Release/
Jack.inform/Metadata.iFiction
Jack.inform/Release.blurb
Jack.inform/Settings.plist
Jack.inform/Skein.skein
Jack.inform/manifest.plist
Jack.inform/uuid.txt
Jack.inform/Index/
Jack.inform/Build/
